@import '../../styles/mixins';

.Button {
    @include text-body;
    color: var(--roo-color-text-link);
    min-width: 156px;
    height: 44px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
