@import "../../styles/mixins";

.CardsContainer {
    padding: 40px 0;
    @include page-body-paddings;
    &_mobile {
        @include page-body-paddings-mobile;
    }
    &-Cards {
        display: grid;
        gap: 31px 32px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    &-Subtitle {
        padding: 0 0 40px 0;
    }
}
