.Restaurants {
    &-Subtitle {
        display: flex;
        flex-flow: row wrap;
    }

    &-SubtitleTag {
        &:not(:last-child) {
            padding-right: 10px;
        }

        &_current {
            font-weight: var(--roo-text-title-font-weight);
            text-decoration: underline;
        }
    }
}
