@font-face {
    font-family: plex-sans;
    src: url(../assets/fonts/IBMPlexSans-Regular.woff2) format('woff2'),
        url(../assets/fonts/IBMPlexSans-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: plex-sans;
    src: url(../assets/fonts/IBMPlexSans-Bold.woff2) format('woff2'), url(../assets/fonts/IBMPlexSans-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: plex-sans;
    src: url(../assets/fonts/IBMPlexSans-Italic.woff2) format('woff2'),
        url(../assets/fonts/IBMPlexSans-Italic.woff) format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: plex-sans;
    src: url(../assets/fonts/IBMPlexSans-BoldItalic.woff2) format('woff2'),
        url(../assets/fonts/IBMPlexSans-BoldItalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: block;
}
@font-face {
    font-family: din-next-lt;
    src: url(../assets/fonts/DINNextLTProAdjusted-Regular.woff2) format('woff2'),
        url(../assets/fonts/DINNextLTProAdjusted-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: din-next-lt;
    src: url(../assets/fonts/DINNextLTProAdjusted-Bold.woff2) format('woff2'),
        url(../assets/fonts/DINNextLTProAdjusted-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: stratos;
    src: url(../assets/fonts/stratos-semibold.woff2) format('woff2'), url(../assets/fonts/stratos-semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: nandos-hand;
    src: url(../assets/fonts/nandos-hand-alt.woff2) format('woff2'), url(../assets/fonts/nandos-hand-alt.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}