@mixin page-body-paddings() {
    padding-left: 77px;
    padding-right: 77px;
}

@mixin page-body-paddings-mobile() {
    padding-left: 16px;
    padding-right: 16px;
}

@mixin overflow-ellipsis($type: ellipsis) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: $type;
}

@mixin max-text-width($width: 100%) {
    @include overflow-ellipsis();
    max-width: $width;
}

@mixin text-body() {
    font-size: var(--roo-text-m-font-size);
    font-weight: var(--roo-text-body-font-weight);
    font-family: var(--roo-font-family-primary);
}

@mixin text-xl() {
    font-family: var(--roo-font-family-strong);
    font-size: var(--roo-text-header-font-size);
    font-weight: var(--roo-text-title-font-weight);
}

@mixin text-title() {
    font-family: var(--roo-font-family-strong);
    font-size: var(--roo-text-l-font-size);
    font-weight: var(--roo-text-title-font-weight);
    color: var(--roo-color-text-primary);
}

@mixin text-subtitle() {
    font-size: var(--roo-text-s-font-size);
    font-weight: var(--roo-text-body-font-weight);
    font-family: var(--roo-font-family-primary);
    color: var(--roo-color-text-secondary);
}
