@import './colors/dark.scss';
@import './colors/light.scss';

// Will be set to body in ThemeProvider.tsx
.roo-root {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --roo-font-family-strong: stratos, Arial, Helvetica, sans-serif;
    --roo-font-family-primary: plex-sans, Arial, Helvetica, sans-serif;

    --roo-text-header-font-size: 34px;
    --roo-text-l-font-size: 22px;
    --roo-text-m-font-size: 16px;
    --roo-text-s-font-size: 14px;

    --roo-text-header-font-weight: 600;
    --roo-text-title-font-weight: 600;
    --roo-text-body-font-weight: 400;

    font-family: var(--roo-font-family-primary);
    font-size: var(--roo-text-m-font-size);

    &_theme_light {
        @include roo-colors-light;

        background: var(--roo-color-background);
        color: var(--roo-color-text-primary);
    }

    &_theme_dark {
        @include roo-colors-dark;

        background: var(--roo-color-background);
        color: var(--roo-color-text-primary);
    }
}
