@import '../../styles/mixins';

.Card {
    // TODO: pass throw mixin (should be set outside). Card now nothing about 360px.
    max-width: 400px;

    &-Img {
        &_fit {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    &-Title {
        @include max-text-width;
        @include text-title;
        padding-top: 8px;
    }

    &-Subtitle {
        @include max-text-width;
        @include text-subtitle;
        padding-top: 5px;
    }
}
