@mixin roo-colors-dark {
    --roo-color-background: #000000;
    --roo-color-accent-background: #CC0010;

    --roo-color-text-primary: #798686;
    --roo-color-text-secondary: #858282;
    --roo-color-text-link: #A3000D;

    --roo-color-accent-text-primary: #000000;
    --roo-color-accent-text-secondary: #FFFFFF;
}