@mixin roo-colors-light {
    --roo-color-background: #FFFFFF;
    --roo-color-accent-background: #00CCBC;

    --roo-color-text-primary: #2E3333;
    --roo-color-text-secondary: #828585;
    --roo-color-text-link: #00A396;

    --roo-color-accent-text-primary: #FFFFFF;
    --roo-color-accent-text-secondary: #000000;
}