@import '../../styles/mixins';

.Location {
    box-sizing: border-box;
    @include page-body-paddings;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--roo-color-accent-background);
    height: 156px;

    &_mobile {
        @include page-body-paddings-mobile;
        padding-top: 24px;
        padding-bottom: 24px;
        height: 177px;
        flex-flow: column nowrap;
        align-items: flex-start;
    }

    &-Description {
        @include text-body;
        color: var(--roo-color-accent-text-secondary);
    }

    &-Title {
        @include text-xl;
        color: var(--roo-color-accent-text-primary);
    }
}
