@import '../../styles/mixins';

.Header {
    padding: 12px 0px;
    box-sizing: border-box;
    height: 60px;
    @include page-body-paddings;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &_mobile {
        @include page-body-paddings-mobile;
    }

    &-User {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-Name {
        padding-left: 4px;
        @include text-body;
    }
}
